<div class="container">
    <!-- filters -->
    <section class="filters">
        <!-- search box -->
        <div class="search-box">
            <input #searchInput (input)="searchHandler(searchInput)" class="search-box__input" placeholder="Search..." type="text" name="txt_search" id="">
            <button type="submit" class="search-box__btn">
                <fa-icon [icon]="searchIcon"></fa-icon>
            </button>
        </div>
        <!-- filter list -->
        <div>
            <!-- filter header -->
            <h5>Categories</h5>
            <!-- filter list -->
            <ul class="list list--vr-separator">
                <li (click)="getProductsByCategory(category.id)" *ngFor="let category of categories" class="link list__item"><i class="link__icon fas fa-angle-right"></i>{{category.name}}</li>
            </ul>
        </div>
        <!-- filter tags -->
        <div>
            <!-- filter header -->
            <h5>Tags</h5>
            <!-- filter tags -->
            <div class="tags" >
                <span class="tag">Nike</span>
                <span class="tag">Travel</span>
                <span class="tag">Sport</span>
                <span class="tag">Tv</span>
                <span class="tag">Books</span>
                <br>
                <span class="tag">Tech</span>
                <span class="tag">Addidas</span>
                <span class="tag">Promo</span>
                <span class="tag">Reading</span>
                <br>
                <span class="tag">Social</span>
                <span class="tag">New</span>
                <span class="tag">Special</span>
                <span class="tag">Food</span>
                <span class="tag">Used</span>
            </div>
        </div>
        <!-- related items -->
        <div>
            <!-- title -->
            <h5></h5>
            <!-- small item -->
            <div></div>
            <div></div>
            <div></div>
        </div>
    </section>
    <!-- Items -->
    <section class="item-listing">
        <!-- tools (sorting , change view , exporting) -->
        <div class="item-listing__tools">
            <select #sort="ngModel" (change)="sortProducts()" [(ngModel)]="sortOption" class="form-control" name=""
              id="">
                <option value="1" >Featured</option>
                <option value="2">Price low to high</option>
                <option value="3">Price high to low</option>
                <option value="4">Name</option>
            </select>
            <a *ngIf="buttonsView" class="action-btn" [routerLink]="['/product','add']">
                <fa-icon [icon]="plus"></fa-icon>
            </a>
        </div>
        <!-- items -->
        <div class="item-listing__items item-listing--3items">
            <!-- medium item -->
            <app-products-item class="item-medium-1" *ngFor='let product of products.slice(currentPage*pageSize,currentPage*pageSize+9)' [product]='product'></app-products-item>
        </div>
        <!-- paging -->
        <div class="paging">
            <!-- left arrow -->
            <div class="paging__arrow">
                <i class="fas fa-angle-left"></i>
            </div>
            <!-- page number -->
            <div *ngFor="let page of pagesNumber; let i = index" class="paging__number" [ngClass]="{'active':currentPage == i}" (click)="currentPage=i">{{page}}</div>
            <!-- right arrow -->
            <div class="paging__arrow">
                <i class="fas fa-angle-right"></i>
            </div>
        </div>
    </section>
</div>