<div *ngIf="product.discount" class="item-medium-1__alert">Sale</div>
<div class="item-medium-1__image image" [style.backgroundImage]="'url('+product.imagesUrls[0]+')'">
        <a (click)="addItem()" class="item-medium-1__action">Add to Cart</a>
    </div>
    <a>
        <h4>{{product.data[0].name}}</h4>
        <div>
            <del *ngIf="product.discount">{{product.price}}</del>
            <span class="lable">{{getPrice()}}</span>
        </div>
    </a>
    <div class="crud-actions">
        <fa-icon [icon]="eye" [routerLink]="['/product','details',product._id]"></fa-icon>
        <fa-icon [icon]="edit" [routerLink]="['/product','edit',product._id]"></fa-icon>
        <fa-icon [icon]="remove"></fa-icon>
    </div>